<div class="container shadow mt-5">

  <div class="row align-items-center">
    <div class="col">
      <a class="navbar-brand" href="https://www.tlm.com.co/">
        <img src="\assets\TLM_logo.png" alt="TLM logo">
      </a>
    </div>
    <div class="col">
      <h1>
        {{title}}
      </h1>
    </div>
  </div>


<hr>

<form autocomplete="off" (ngSubmit)="guardar(mFormu)" #mFormu="ngForm">
  
  <div class="row mb-3">
    <label class="col-sm-2 col-3 col-form-label">Compañía</label>
    <div class="col">
      <input class="form-control"
              type="text"
              name="company"
              [ngModel]="company"
              [class.is-invalid]="companySel.invalid && companySel.touched"
              required minlength="2"
              style="text-transform:uppercase"
              placeholder="Digite compañía"
              #companySel="ngModel"
              [disabled]="cargando">
      <span *ngIf="companySel.invalid && companySel.touched" class="form-text text-danger">Debe contener al menos 2 letras</span>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-3 col-form-label">Instancia</label>
    <div class="col">
      <input class="form-control"
              type="text"
              name="instance"
              [ngModel]="instance"
              [class.is-invalid]="instanceSel.invalid && instanceSel.touched"
              style="text-transform:uppercase"
              required minlength="5"
              placeholder="Digite instancia"
              #instanceSel="ngModel"
              [disabled]="cargando">
      <span *ngIf="instanceSel.invalid && instanceSel.touched" class="form-text text-danger">Debe contener al menos 5 letras</span>

    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-3 col-form-label">Operación</label>
    <div class="col">
      <div *ngFor="let operation of operations; let idOper=index" class="form-check">
        <input class="form-check-input"
            type="radio" 
            name="operation"
            [id]="idOper"
            [value]="operation"
            [class.is-invalid]="operation.invalid && operation.touched"
            required
            [ngModel]="operation"
            [disabled]="cargando">
        <label class="form-check-label" [for]="idOper">{{operation}}</label>
      </div>

    </div>
  </div>

    <div class="d-grid">
      <button *ngIf="!cargando" type="submit" class="btn btn-outline-primary my-3">
        Ejecutar operación
      </button>

      <button *ngIf="cargando" class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Ejecutando...
      </button>
    </div>

</form>
</div>